:root{
    --primaryRed: hsl(0, 78%, 62%);
    --primaryCyan: hsl(180, 62%, 55%);
    --primaryOrange: hsl(34, 97%, 64%);
    --primaryBlue: hsl(212, 86%, 64%);
    --veryDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    font-size: 15px;
    background-color: var(--veryLightGray);
}
main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 40px;
}
.container-info{
    justify-self: center;
    align-self: center;
    text-align: center;
    margin-bottom: 50px;
    width: 300px;
}
.container-info h3{
    color: var(--grayishBlue);
    font-weight: 200;
    font-size: 22px;
}
.container-info h2{
    color: var(--veryDarkBlue);

}
.container-info p{
    color: var(--grayishBlue);
    font-size: 14px;
}
.container-cards{
    display: grid;
    justify-self: center;
    align-self: center;
    width: 300px;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(4, auto);
    row-gap: 20px;
}
.container-cards div{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    margin: 0 auto;
    box-shadow: 10px 10px 36px -10px rgba(0,0,0,0.49);
}
.container-cards p{
    color: var(--grayishBlue);
    font-size: 13px;
}
.container-cards div span{
    width: 50px;
    height: 50px;
    align-self: flex-end;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 30px;
}
.container-cards .div1{
    border-top: 3px solid var(--primaryCyan);
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 2;
}
.container-cards .div2{
    border-top: 3px solid var(--primaryRed);
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 3;
}
.container-cards .div3{
    border-top: 3px solid var(--primaryOrange);
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 4;
}
.container-cards .div4{
    border-top: 3px solid var(--primaryBlue);
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 4;
}
.container-cards .div1 span{
    background-image: url('./images/icon-supervisor.svg');
}
.container-cards .div2 span{
    background-image: url('./images/icon-team-builder.svg');
}
.container-cards .div3 span{
    background-image: url('./images/icon-karma.svg');
}
.container-cards .div4 span{
    background-image: url('./images/icon-calculator.svg');
}

@media (min-width: 1200px){
    .container-info{
        width: 340px;
    }
    .container-info h2{
        margin-bottom: 20px;
    }
    .container-info p{
        font-size: 10px;
    }
    .container-cards{
        display: grid;
        width: 880px;
        height: 440px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    .container-cards .div1 { grid-area: 2 / 1 / 4 / 5; }
    .container-cards .div2 { grid-area: 1 / 5 / 3 / 9; }
    .container-cards .div4 { grid-area: 2 / 9 / 4 / 13; }
    .container-cards .div3 { grid-area: 3 / 5 / 5 / 9; } 
}